.Logo1 {
    margin-left: 25%;
    margin-top: 39.86%;
    width: 50%;
    height: 5.56%;
}

.Logo2 {
    margin-left: 25%;
    margin-top: 51.11%;
    width: 50%;
    height: 5.56%;
}

.Logo3 {
    margin-left: 25%;
    margin-top: 62.36%;
    width: 50%;
    height: 5.56%;
}